<header>
        <nav>
            <a href="#" class="logo">ALBY<span>ON</span>_DIGITAL</a>
            <ul class="nav-links">
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#porque">Por qué elegirnos</a></li>
                <li><a href="#clientes">Clientes</a></li>
                <li><a href="#precios">Precios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
